<style>
  th {
    text-align: center;
  }
  .mutation-name {
  }

  .spinner {
    text-align: center;
  }
</style>

<div class="container">
  <div class="row">
    <h2>Protein: <%= link_to @stability_job.pdb_id ,"http://www.rcsb.org/pdb/explore/remediatedSequence.do?structureId=#{@stability_job.pdb_id}&bionumber=1" %></h2>
    <div class="col-md-12 col-lg-6">
      <div data-react-class="JobStatus" data-react-props="<%= {stability_job_id: @stability_job.id, spinnyImagePath: asset_path("spiffygif_28x28.gif")}.to_json %>"></div>
    </div>
    <div class="col-md-6 col-lg-6">
      <h1 id="viewer"></h1>
      <div id="glmol01" style="width: 100%; height: 400px; background-color: black;"></div>
      <textarea id="glmol01_src" style="display: none;"></textarea>
    </div>
    <div class="col-md-6">
      <img src="<%= @stability_job.image_url %>", class="img-responsive" />
    </div>
  </div>
</div>

