<!DOCTYPE html>
<html>
<head>
  <title>MutationInstabilityFilter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Mutation Instability Project</h1>
    </div>
  </div>
</div>

<hr>


<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
